<div class="container meetups">
    <h1 class="new" style="margin-right: 7px;">All The Meetups</h1>
    <a href="meetups/new">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <div class="container">
        {{#each meetups}}
            <div class="card">
                <a class="media-left" href="#">
                    <img id="profile-image" class="media-object img-circle" src="{{this.avatar_url}}"
                         alt="profile-image">
                </a>
                <div class="media-body">
                    <a id="header" href="/meetups/{{this.id}}/page">
                        <h4 class="media-heading">{{this.title}}</h4>
                    </a>
                    <p>
                        {{this.description}}
                    </p>
                    {{this.start_date}}
                </div>
            </div>
        {{/each}}
    </div>

    <a href="meetups/new" class="new">
        <i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;"></i>Add New Meetup
    </a>
</div>
