<h1>All the meetups</h1>
{{#each meetups}}
    <a href="/meetups/{{this.id}}/page">{{this.title}}</a>
    <!-- <a href="/{{meetups.id}}/page">{{this.title}}</a> -->

    <div>{{this.username}}</div>
    <div>{{this.description}}</div>
    <div>{{this.location}}</div>
    <div>{{this.time}}</div>
    <div>{{this.created_on}}</div>
{{/each}}
</div>
