<h1>One meetups</h1>
<button type="button" name="favorite">favorite</button>
{{#if isOwner}}
    <a href="{{meetup.id}}/edit">create</a>
{{/if}}
{{meetup.title}}
{{meetup.title}}
{{meetup.title}}
{{meetup.title}}
{{meetup.title}}
