<h1>{{meetup.title}}</h1>
<button type="button" name="like">like</button>
{{#if isOwner}}
    <a href="meetups/{{meetups.id}}/edit">edit</a>
{{/if}}


{{meetup.username}}
{{meetup.description}}
{{meetup.location}}
{{meetup.time}}
{{meetup.created_on}}
{{meetup.time}}
