<h1>{{meetup.title}}</h1>
<button type="button" name="like">like</button>
{{#if isOwner}}
    <a href="{{meetups.id}}/edit">edit</a>
    <!-- /meetups/{{this.id}} -->
{{/if}}
{{meetups.username}}
{{meetups.description}}
{{meetups.location}}
{{meetups.time}}
{{meetups.created_on}}
{{meetups.time}}
