<h3>{{resource.title}}</h3>
<h3>Posted by</h3>
<h3>likes: {{resource.likes}}</h3>
<h3>{{resource.description}}</h3>
<a href="{{resource.link}}">Visit Website</a>
<h3>Created On: {{resource.created_on}}</h3>
<a  href="/resources/{{resource.id}}/edit">Edit</a>
<a href="/resources/{{resource.id}}/delete">Delete</a>
