<form class="form-horizontal" action="/users" method="POST">
	<fieldset>
		<legend>New User</legend>
		<div class="form-group">
			<label for="name" class="col-lg-2 control-label" maxlength="255">Name</label>
			<div class="col-lg-10">
				<input required="required" type="text" class="form-control" name="name" id="name" value="{{user.name}}">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10">
				<input required="required" name="email" type="email" class="form-control" id="email" value="{{user.email}}">
			</div>
		</div>
		<div class="form-group">
			<label for="cohort" class="col-lg-2 control-label" maxlength="255">Cohort</label>
			<div class="col-lg-10">
				<input required="required" name="cohort" type="number" class="form-control" id="cohort" placeholder="Cohort">
			</div>
		</div>
		<div class="form-group">
			<label for="location" class="col-lg-2 control-label" maxlength="255">Location</label>
			<div class="col-lg-10">
				<input required="required" name="location" type="text" class="form-control" id="location" value="{{user.location}}">
			</div>
		</div>
		<div class="form-group">
			<label for="bio" class="col-lg-2 control-label">Bio</label>
			<div class="col-lg-10">
				<textarea name="biography" class="form-control" rows="3" id="bio">{{user.bio}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="github" class="col-lg-2 control-label">Github</label>
			<div class="col-lg-10">
				<input name "github_url" type="url" class="form-control" id="github" value="{{user.html_url}}">
			</div>
		</div>
		<div class="form-group">
			<label for="linkedin" class="col-lg-2 control-label">LinkedIn</label>
			<div class="col-lg-10">
				<input name="linkedin_url" type="url" class="form-control" id="linkedin" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="website" class="col-lg-2 control-label">Personal Website</label>
			<div class="col-lg-10">
				<input name="website" type="url" class="form-control" id="website" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="reset" class="btn btn-default">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</fieldset>
</form>
