<img src="{{user.avatar_url}}" alt="" />
<h2>{{user.name}}</h2>
<h2>{{user.location}}</h2>
<h2>g{{user.cohort}}</h2>
<h2>{{user.email}}</h2>
<h2>user.biography</h2>
<a href="{{user.website}}">Website</a>
<a href="{{user.github_url}}">Github</a>
<a href="{{user.linkedin_url}}">LinkedIn</a>
