<div class="container meetups">
    <!--<div class="container cards">-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-block">
                <img class="card-img-top img-fluid img-thumbnail" style="max-width:100%; height:250px; width:250px;"
                     src="{{user.avatar_url}}" alt="user avatar">
                <h2 class="card-title">{{user.username}}</h2>
                <h4 class="card-title">{{user.cohort}}</h4>
                <h4 class="card-title">{{user.email}}</h4>
                <h3 class="card-title">{{user.biography}}</h3>
                <h4 class="card-title">{{user.location}}</h4>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{user.website}}" class="btn-link">Website</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{user.github_url}}" class="btn-link">Github</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{user.linkedin_url}}" class="btn-link">LinkedIn</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="users/edit" class="btn-link">edit profile</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <!-- for adding tags -->
                        <a href="users/customize" class="btn-link">add/delete
                            tags</a>                    </div>
                </div>

            </div>
        </div>
        <!--</div>-->
    </div>
</div>