<ul class="questionDivContainer">
  {{#each items}}
    <div class="questionDiv">
      <div class="change">
        <span class='deleteItem'><a href="/items/delete/{{this.question_id}}"><strong>x</strong></a></span>
        <span class='modifyPost'><a href="/items/modify/{{this.question_id}}"><strong>edit</strong></a></span>
      </div>
      <h3 class="createdDate">Posted on: {{shortDate  this.created_at}}</h3>
      <h2 class="postTitle">{{this.title}}</h2>
      <h2>{{this.id}}</h2>
      <p class="postContent">{{this.content}}</p>
      <li class="postName"><strong>Written by: {{this.name}}</strong></li>
      <a href="question/{{this.blogid}}" class="read_more_button">Read More</a>
    </div>
    {{/each}}
</ul>
