<a href="gflow/ask"><h1>Ask a question!</h1></a>

<div class="container">
        <div class="row">
            <div class="col-lg-6">
              {{#each items}}
              <div class="media resource">
                <a class="media-left =" href="#">
                  <img class="media-object img-rounded" src="..." alt="Generic placeholder image">
                </a>
                <div class="questionDiv">
                  <h2 class="postTitle">{{this.title}}</h2>
                  <h2>{{this.id}}</h2>
                  <p class="postContent">{{this.question}}</p>
                  <p class="postContent"><strong>Tags: </strong>{{this.tags}}</p>
                  <p class="">asked <time class="timeago" datetime='{{alterDate this.created_at}}'>{{this.created_at}}</time>
 by {{this.username}}</p>
                  <a href="/gflow/question/{{this.questionid}}" class="read_more_button">Read More</a>
                </div>
                {{/each}}
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Favorite 1 <span class="tag tag-default tag-pill pull-xs-right">14</span><i class="fa fa-star" aria-hidden="true"></i></a>
                        <a href="#" class="list-group-item">Favorite 2 <i class="fa fa-star" aria-hidden="true"></i></a>
                        <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-star" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
