{{#if user}}
	<!-- <a href="gflow/ask"><h1>Ask a question!</h1></a> -->
	<br>
	<div class="text-xl-center">
		<a href="gflow/ask" class="btn btn-primary"><h1>Ask a Question</h1></a>
	</div>
{{else}}
	<p>
		<a href="/login">Login</a> to ask a question
	</p>
{{/if}}

<div class="col-lg-3 offset-lg-9">
	<div class="card">
		<div class="list-group">
			<a href="#" class="list-group-item">Favorite 1 <span class="tag tag-default tag-pill pull-xs-right">14</span><i class="fa fa-star" aria-hidden="true"></i></a>
			<a href="#" class="list-group-item">Favorite 2 <i class="fa fa-star" aria-hidden="true"></i></a>
		</div>
	</div>
</div>

<div class="row card-block">
{{#each items}}
	  <div class="col-lg-2">
			<!-- {{#each meetups}}
				<img class="card-img-left" src="{{user._json.avatar_url}}" alt="user avatar">
				{{/each}} -->
        <h3>Views: {{this.views}}</h3>
      	<h3>Comments: {{this.comments}}</h3>
		</div>
		<div class="col-lg-10 border-top">
	    <div class="questionDiv">
	      <a href="/gflow/question/{{this.questionid}}" id='{{this.questionid}}' class="viewClick"><h2 class="postTitle">{{this.title}}</h2></a>
	      <h2>{{this.id}}</h2>
	      <p><span class="tag tag-default tag-pill">{{this.tags}}</span></p>
	      <p class="">asked <time class="timeago" datetime='{{alterDate this.created_at}}'>{{alterDate this.created_at}}</time>
	        by {{this.username}}</p>
	    </div>
		</div>
{{/each}}
</div>
