<ul class="questionDivContainer">
    <div class="questionDiv">
      {{#if isOwner}}
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{item.questionid}}"><strong>delete</strong></a></span>
        <span class='modifyPost'><a href="/gflow/{{item.questionid}}/edit"><strong>edit</strong></a></span>
      </div>
      {{/if}}
      <button type="button" id="{{item.questionid}}" class="likeButton btn btn-secondary likes"><i id="heart" class="fa fa-heart-o" aria-hidden="true"></i>{{likes}}</button>
      <p class="createdDate"><strong>Posted on: </strong>{{shortDate item.created_at}}</p>
      <h3 class="postTitle"><strong>Title: </strong>{{item.title}}</h3>
      <p class="postContent"><strong>Question: </strong>{{item.question}}</p>
      <p class="tags"><strong>Tags: </strong> {{item.tags}}</p>
      <li class="postName"><strong>Written by: <strong>{{item.username}}</li>
    </div>
</ul>


<h1 class="Comments">Comments</h1>
<div class="comment-card">
    {{#each data}}
    <div class="borderDiv">
      {{#if isOwner}}
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{this.id}}"><strong>delete</strong></a></span>
      </div>
      {{/if}}
      <div class="comment-header">
        <h3 class="commentSubject">{{this.subject}}</h3>
      </div>
      <div class="comment-body">
      {{this.comment}}
      </div>
      <div class="comment-footer">
        <p class="">commented on <time class="timeago" datetime='{{alterDate this.created_at}}'>{{this.created_at}}</time>
          by {{this.username}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<h2 class="commentHead">Add Comments</h2><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-1">
        <form class='add-comment' action='/gflow/question/{{item.questionid}}' method='post'>

          <div class="form-group">
            <label for='comment-subject' class= "subjectLabel"><strong>Subject: </strong></label>
            <textarea type='text' name='subject' placeholder='subject' class="subjectInputBox form-control" value=''></textarea>
          </div>

          <div class="form-group">
            <label for='comment-comment'><strong>Comment: </strong></label>
            <textarea name='comment' placeholder='comment' class="commentInputBox form-control" ></textarea>
          </div>

          <div class="commentButton">
            <input type='submit' id='{{item.questionid}}' class='commentClick btn btn-primary pull-xs-right' value="Submit Comment"></input>
          </div>

        </form>
      </div>
    </div>
  </div>
