<ul class="questionDivContainer">
    <div class="questionDiv">
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{item.questionid}}"><strong>delete</strong></a></span>
        <span class='modifyPost'><a href="/gflow/{{item.questionid}}/edit"><strong>edit</strong></a></span>
      </div>
      <h3 class="createdDate">Posted on: {{item.created_at}}</h3>
      <h2 class="postTitle">Title:{{item.title}}</h2>
      <h2>{{item.questionid}}</h2>
      <p class="postContent">Question:{{item.question}}</p>
      <li class="postName"><strong>Written by: {{item.username}}</strong></li>
    </div>
</ul>


<h1 class="Comments">Comments</h1>
<div class="commentPostDiv">
  <ul class="comments">
    {{#each data}}
    <div class="borderDiv">
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{this.id}}"><strong>delete</strong></a></span>
      </div>
      <p class="createdDate dateSmall">Posted on: {{shortDate this.created_at}}</p>
      <h2 class="commentSubject">{{this.subject}}</h2>
      <p class="postContent">{{this.comment}}</p>
      <li class="postName"><strong>Written by: {{this.username}}</strong></li>
    {{/each}}
    </div>
  </ul>
</div>

<h2 class="commentHead">Add Comments</h2><br>
  <div class="commentContainer">
    <div class="Comments">
      <section>
        <form class='add-comment' action='/gflow/question/{{item.questionid}}' method='post'>
          <div>
            <label for='comment-subject' class= "subjectLabel"><strong>Subject:</strong></label>
            <textarea type='text' name='subject' placeholder='subject' class="subjectInputBox" cols= '80' value=''></textarea>
          </div>
          <div>
            <label for='comment-comment'><strong>Comment:</strong></label>
            <textarea name='comment' placeholder='comment' class="commentInputBox" rows='10' cols= '80'></textarea>
          </div>
          <div class="commentButton">
            <input type='submit' id='commentSubmit' value="Submit Comment"></input>
          </div>
          </form>
        </section>
      </div>
    </div>
