<div class="row">
  <div class="col-lg-10 offset-lg-1">
  <div class="questionDiv">
    {{#if isOwner}}
    <div class="change">
      <span class='deleteItem'><a href="/gflow/delete/{{item.questionid}}"><strong>delete</strong></a></span>
      <span class='modifyPost'><a href="/gflow/{{item.questionid}}/edit"><strong>edit</strong></a></span>
    </div>
    {{/if}}

  <div class="card text-xs-center">
    <h3 class="card-header"><strong>Title: </strong>{{item.title}}</h3>
    <p class="card-text"><strong>Question: </strong>{{item.question}}</p>
    <p class="tags"><strong>Tags: </strong> {{item.tags}}</p>
    <p class="postName"><strong>asked by: <strong>{{item.username}}</p>
      <div class="text-xs-right">
        <button type="button" id="{{item.questionid}}" class="likeButton btn btn-secondary likes"><i id="heart" class="fa fa-heart-o" aria-hidden="true"></i>{{likes}}</button>
      </div>
    <div class="card-footer text-muted">
      <strong>posted on: </strong>{{shortDate item.created_at}}
    </div>
  </div>
</div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-block text-xs-center comment-card" style="width: 100%;">
        <h1 class="Comments">Comments</h1>
        {{#each data}}
        {{#if isOwner}}
        <div class="change">
          <span class='deleteItem'><a href="/gflow/delete/{{this.id}}"><strong>delete</strong></a></span>
        </div>
        {{/if}}
        <div class="card-header">
          <p class="">commented on <time class="timeago" datetime='{{alterDate this.created_at}}'>{{this.created_at}}</time>
            by {{this.username}}</p>
        </div>
        <div class="card-block">
          <h3 class="card-title">{{this.subject}}</h3>
          <p class="card-text">{{this.comment}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="container text-xl-center">
  <h2>Add Comments</h2>
    <div class="row">
      <div class="col-lg-9 offset-lg-1">
        <form class='add-comment' action='/gflow/question/{{item.questionid}}' method='post'>

          <div class="form-group">
            <label for='comment-subject' class= "subjectLabel"><strong>Subject: </strong></label>
            <textarea type='text' name='subject' placeholder='subject' class="subjectInputBox form-control" value=''></textarea>
          </div>

          <div class="form-group">
            <label for='comment-comment'><strong>Comment: </strong></label>
            <textarea name='comment' placeholder='comment' class="commentInputBox form-control" ></textarea>
          </div>

          <div class="commentButton">
            <input type='submit' id='{{item.questionid}}' class='commentClick btn btn-primary pull-xs-right' value="Submit Comment"></input>
          </div>

        </form>
      </div>
    </div>
  </div>
