<ul class="questionDivContainer">
    <div class="questionDiv">
      {{#if isOwner}}
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{item.questionid}}"><strong>delete</strong></a></span>
        <span class='modifyPost'><a href="/gflow/{{item.questionid}}/edit"><strong>edit</strong></a></span>
      </div>
      {{/if}}
      <button type="button" id="{{item.questionid}}" class="likeButton btn btn-secondary likes"><i id="heart" class="fa fa-heart-o" aria-hidden="true"></i>{{likes}}</button>
      <p class="createdDate"><strong>Posted on: </strong>{{shortDate item.created_at}}</p>
      <h2 class="postTitle"><strong>Title: </strong>{{item.title}}</h2>
      <p class="postContent"><strong>Question: </strong>{{item.question}}</p>
      <p class="tags"><strong>Tags: </strong> {{item.tags}}</p>
      <li class="postName"><strong>Written by: <strong>{{item.username}}</li>
    </div>
</ul>


<h1 class="Comments">Comments</h1>
<div class="commentPostDiv">
  <ul class="comments">
    {{#each data}}
    <div class="borderDiv">
      {{#if isOwner}}
      <div class="change">
        <span class='deleteItem'><a href="/gflow/delete/{{this.id}}"><strong>delete</strong></a></span>
      </div>
      {{/if}}
      <p class="createdDate dateSmall"><strong>Posted on:</strong> {{shortDate this.created_at}}</p>
      <h3 class="commentSubject"><strong>Subject: </strong>{{this.subject}}</h3>
      <p class="postContent"><strong>Comment: </strong>{{this.comment}}</p>
      <p class="postName"><strong>Written by: </strong>{{this.username}}</p>
    {{/each}}
    </div>
  </ul>
</div>

<h2 class="commentHead">Add Comments</h2><br>
  <div class="commentContainer">
    <div class="Comments">
      <section>
        <form class='add-comment' action='/gflow/question/{{item.questionid}}' method='post'>
          <div>
            <label for='comment-subject' class= "subjectLabel"><strong>Subject: </strong></label>
            <textarea type='text' name='subject' placeholder='subject' class="subjectInputBox" cols= '80' value=''></textarea>
          </div>
          <div>
            <label for='comment-comment'><strong>Comment: </strong></label>
            <textarea name='comment' placeholder='comment' class="commentInputBox" rows='10' cols= '80'></textarea>
          </div>
          <div class="commentButton">
            <input type='submit' id='commentSubmit' value="Submit Comment"></input>
          </div>
          </form>
        </section>
      </div>
    </div>
