<div class="container">
	<div class="row">
		<div class="col-lg-11">
			<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 30px;">

				<a class="navbar-brand" href="/projects/">Projects</a>
				{{#if user.is_admin}}
					<div class="admin-controls pull-xs-right">
						<a style="margin-left: 5px;" class="btn btn-danger"href="/projects/{{project.id}}/delete">Delete</a>
						<a class="btn btn-primary" href="/projects/{{project.id}}/edit">Edit</a>
					</div>
				{{/if}}

				{{#if user}}
					<a class="nav-link btn btn-success pull-xs-right" href="/projects/new">New Project</a>
				{{else}}
					<p class=" pull-xs-right"><a href="/login">Login</a> to create a new project</p>
				{{/if}}
				<!-- <form class="form-inline pull-xs-right">
					<input class="form-control" type="text" placeholder="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form> -->

			</nav>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="card">
					<h1 class="card-title">{{project.title}}</h1>

					<div class="card-block">

						<h4>Repo URL: {{project.repository_url}}</h2>

						<p>
							Proposal By: {{proposal.username}}
							<span class="pull-xs-right">Likes: {{project.likes}}</span>
						</p>
						<p>
							{{project.body}}
						</p>
						{{#if isOwner}}
						<div class="owner-controls pull-xs-right">
							<a class="btn btn-danger"href="/projects/{{project.id}}/delete">Delete</a>
							<a class="btn btn-primary" href="/projects/{{project.id}}/edit">Edit</a>
						</div>

						{{/if}}
					</div>

				</div>
				<div class="card">
					<div class="card-block">
						<form class="delete" action="/projects/{{project.id}}/delete" method="post">
							<button class="form-control btn btn-danger" type="submit" name="delete">Delete This Project</button>
						</form>
					</div>
				</div>

			</div>

			<div class="col-lg-3">
				<div class="card">
					<h3 class="card-header">Your Projects</h3>
					<div class="card-blockt">
						<ul class="list-group">
							<li class="list-group-item">Owned <span style="font-weight: bold; color: darkblue; font-size: 1.2rem;">0</span></li>
 							<li class="list-group-item">Joined <span style="font-weight: bold; color: darkblue; font-size: 1.2rem;">0</span></li>
 							<li class="list-group-item">Following <span style="font-weight: bold; color: darkblue; font-size: 1.2rem;">0</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
