<h1> Projects Homepage/Index </h1>
{{#if user}}

<div class="user-controls">
	<a href="/projects/new">Add New Project</a>
</div>{{!-- end of user-controls --}}

{{/if}}
{{#each projects}}

<div class="project-container">

	<div class="container-header">
		<h1><a href="/projects/{{this.id}}">{{this.title}}</a></h1>
	</div> {{!-- end container-footer --}}

	<div class="container-body">

		<a href="{{this.repository_url}}">{{this.repository_url}}</a>

		<p>
			Proposed by: {{this.username}}
		</p>

		<p>
			{{this.body}}
		</p>

	</div> {{!-- end container-body --}}

	<div class="container-footer">

		{{this.created_on}}
		{{this.likes}}

	</div> {{!-- end container-footer --}}

</div>  {{!-- end project-container --}}

{{/each}}
