
<div class="container">


	<div class="row">

		<div class="col-lg-11">

			<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 30px;">

				<a class="navbar-brand" href="/projects/">Projects</a>

				{{#if user}}
					<a class="nav-link btn btn-success pull-xs-right" href="/projects/new">New Project</a>
				{{else}}
					<p class=" pull-xs-right"><a href="/login">Login</a> to create a new project</p>
				{{/if}}
			  <!-- <form class="form-inline pull-xs-right">
			    <input class="form-control" type="text" placeholder="Search">
			    <button class="btn btn-outline-success" type="submit">Search</button>
			  </form> -->

			</nav>

		</div>

	</div>

<div class="container">
	<div class="row">


		{{#each projects}}
		<div class="col-lg-8">
			<div class="card">
				<div class="card-block">


					<h3 class="card-title">
						<a href="/projects/{{this.project_id}}/page">{{this.title}}</a>
					</h3>



					<p class="card-text">
						{{this.body}}
					</p>


			</div>

			<div class="card-footer">
				<p class="card-text">
					{{this.created_on}}
					{{this.likes}}

					<span class="card-text pull-xs-right">
						Proposed by: {{this.username}}
					</span>
				</p>
			</div>
		</div>  {{!-- end of card-block --}}



	</div>

		{{/each}}

	</div>
</div>




</div>
